/* .container {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
} */

.channelCards {
  width: 80%;
  margin: 0px auto 2rem auto;
  padding-bottom: 2rem;
  display: grid;
  gap: 30px;
  grid-template-rows: 1fr;
  border-bottom: 1px solid var(--color-gray);
}

.videoCards {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 10px;
}
/* @media (max-width: 1200px) {
  .container {
    display: grid;
    width: 80vw;
    margin: 30px auto 0 auto;
  
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 10px;
  }
}

@media (max-width: 1023px) {
  .container {
    display: grid;
    width: 80vw;
    margin: 30px auto 0 auto;
  
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    gap: 10px;
  }
} */

/* @media (max-width: 767px) {
  
} */
/* 
@media (max-width: 600px) {
  .container {
    display: grid;
    width: 80vw;
    margin: 30px auto 0 auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
} */
