.container {
  min-width: 300px;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  margin-bottom: 10px;
  gap: 10px;
  color: var(--color-text);
}

.title {
  /* max-width: 200px; */
  height: 2.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.channel {
  font-size: small;
  margin: 0;
  color: var(--color-text-gray);
}

.thum {
  width: 100%;
  border-radius: 6px;
}

.column2 {
  display: block;
}
